<h1><%=@article.title%></h1>
<h1><%=@article.content%></h1>

<form method="POST" action="/articles/<%=@article.id%>"> 
<!-- <form method="POST" action="">  -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>